body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-link {
  font-family: 'M PLUS Rounded 1c', cursive;
}
.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.app__container {
	margin-top: 23px;
	width: 500px;
	height: 376px;
	border: 1px solid #000;
}

.app__input {
	margin-top: 10px;
}