version: "3.8"

services:
  app:
    container_name: ai-interview-c
    image: ai-interview-c
    build:
      context: .
      target: development
    volumes:
      - ./src:/app/src
    ports:
      - 3000:3000