<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Expression Recognition</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-four-fifths">
                    <h1 class="title">
                        Camera
                    </h1>
                    <video autoplay id="video"></video>
                    <button class="button is-hidden" id="btnPlay">
                        <span class="icon is-small">
                            <i class="fas fa-play"></i>
                        </span>
                    </button>
                    <button class="button" id="btnPause">
                        <span class="icon is-small">
                            <i class="fas fa-pause"></i>
                        </span>
                    </button>
                    <button class="button is-success" id="btnScreenshot">
                        <span class="icon is-small">
                            <i class="fas fa-camera"></i>
                        </span>
                </button>
                <button class="button is-success" id="btnVideo">
                        <span class="icon is-small">
                            <i class="fas fa-video"></i>
                        </span>
                </button>
                <button class="button is-success" id="btnVideoStop" disabled>
                        <span class="icon is-small">
                            <i class="fas fa-stop"></i>
                        </span>
                    </button>
                    <button class="button" id="btnChangeCamera">
                        <span class="icon">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                        <span>Switch camera</span>
                    </button>
                </div>
                <div class="column">
                    <h2 class="title">Screenshots</h2>
                    <div id="screenshots"></div>
                </div>

                <!--this is the html code for recording preview -->

                <!-- <div>
                    <h2>Recording Preview</h2>
                      <video id="recordingPreview" width="240" height="180" autoplay controls></video>
                    <p>
                       <a id="downloadButton">Download</a>
                    </p>
                </div> -->
            </div>
        </div>
    </section>

    <canvas class="is-hidden" id="canvas"></canvas>
    <!-- <script src="script.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>