<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>AI Interview</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>

  <body>

    <div class="navbar" style="display: flex; background-color:azure; justify-content:space-between;  ">
      <div class="banner" style="padding-top: 10px;">
        <a href="/">
          <img src = "/static/images/header/header.png" width="100%" style="width: 156px; height:75px; ">
        </a>
      </div>
      <div class="iframe" style="padding-top: 10px;">
        <a href="https://www.producthunt.com/posts/ai-interview-system?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-ai-interview-system" target="_blank" style="padding-top: 10px;"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=322838&theme=light" alt="AI Interview System - Test & Developed Your Interview Skills | Product Hunt" style="width: 250px; height: 54px; " width="250" height="54"  />
        </a>  
      </div>
      
      
      
    </div>

 {% block body %}

<br>
<blockquote>
  <p class="quotation">Tell us about the last time you showed leadership.</p>
</blockquote>

<br>
<form action="/video_1" method="post">
  <input type="submit" name="video_1" value="Start Recording">
</form>

<br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="Won">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}

<br>
<br>
<form>
    <input type="button" value="Back" onclick="history.go(-1)">
  </form>

  </body>
</html>

<script>
</script>
